.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    padding: 30px 20px;
    z-index: 99999;
    font-size: 16px;
    &__close {
        position: absolute;
        top: -25px;
        right: -25px;
        border-radius: 50%;
        background: linear-gradient(45deg, #ff0e41, #fe6231);
        @media screen and (max-width: 768px) {
            top: -20px;
            right: -20px;
            width: 40px;
        }
    }
    &__outerWrapper {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 800px;
        max-height: 750px;

        border: 1px solid #ffffff;
        box-sizing: border-box;
        background: linear-gradient(45deg, #9532cd, #ff68f3);
        border-radius: 15px;
    }
    &__innerWrapper {
        position: relative;
        box-sizing: border-box;
        padding: 0 50px 20px 50px;
        @media screen and (max-width: 1024px) {
            padding: 0 15px 15px 15px;
        }
    }
    &__title {
        margin: 50px 0;
        font-size: 2.5em;
        text-align: center;
        font-weight: 600;
    }

    &__item {
        position: relative;
        padding: 20px 0;
        // margin-bottom: 20px;
        &--cursor {
            user-select: none;
            cursor: pointer;
        }
        &:first-child {
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0px;
                border-top: 1px solid rgba(0, 0, 0, 0.4);
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            }
        }
    }
    &__invite {
        position: relative;
        display: flex;
        // background-color: rgba(255, 255, 255, 0.3);
        // border: 1px solid #ffffff;
        box-sizing: border-box;
        align-items: center;
        // border-radius: 10px;
        padding: 40px 0;
        // margin-bottom: 20px;
        cursor: pointer;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0px;
            border-top: 1px solid rgba(0, 0, 0, 0.4);
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        }

        @media screen and (max-width: 1024px) {
            padding: 20px 0;
        }
    }
    &__inviteLeft {
        flex: 1;
        display: flex;
        align-items: center;
    }
    &__inviteRight {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        margin-left: 20px;
        .gradientBtn {
            margin: 0;
        }
    }
    &__icon {
        width: 45px;
        margin-right: 15px;
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
    &__name {
        font-size: 1.8em;
        color: #ffffff;
        line-height: 1.3em;
        flex: 1;
        @media screen and (max-width: 1024px) {
            font-size: 1.1em;
        }
    }
    &__desc {
        font-size: 1.4em;
        line-height: 1.3em;
        margin-bottom: 20px;
        color: #ffffff;
        @media screen and (max-width: 1024px) {
            font-size: 1em;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__list {
        display: block;
    }
    &__date {
        color: #000000;
        margin-bottom: 20px;
        font-weight: 500;
    }

    &__msgList {
        list-style: disc;
        color: #ffffff;
        margin-left: 2.5em;
    }
    &__msg {
        font-size: 1.4em;
        line-height: 1.3em;
        margin-bottom: 15px;
        @media screen and (max-width: 1024px) {
            font-size: 1.2em;
        }
    }
}
