.homepage {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px - 65px);
    overflow: hidden;
    // border: 3px solid #000000;
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        // overflow: auto;
    }
    &__slides {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // outline: 1px solid #000000;
        box-sizing: border-box;
        @media screen and (max-width: 768px) {
            position: relative;
            height: auto;
            &::before {
                content: "";
                display: block;
                padding-top: 150%;
            }
        }
    }
    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        // z-index: 1;
        transition: opacity 0.5s ease-out;
        z-index: 20;

        &--active {
            opacity: 1;
            // z-index: 2;
        }
        &--1 {
            // .homepage__bg {
            //     background: linear-gradient(45deg, #98c134, #a5ca47);
            // }

            .homepage__item--1 {
                width: 14%;
                transform: translate(170%, -120%);
            }
            .homepage__item--2 {
                width: 24%;
                transform: translate(73%, -72%);
            }
            .homepage__item--3 {
                width: 10%;
                transform: translate(202%, -39%);
            }
            .homepage__item--4 {
                width: 22%;
                transform: translate(-199%, -52%);
            }
            .homepage__item--5 {
                width: 19%;
                transform: translate(-180%, -39%);
            }

            @media screen and (max-width: 1024px) {
                .homepage__item--1 {
                    width: 14%;
                    transform: translate(188%, -200%);
                }
                .homepage__item--2 {
                    width: 24%;
                    transform: translate(82%, -159%);
                }
                .homepage__item--3 {
                    width: 10%;
                    transform: translate(222%, -99%);
                }
                .homepage__item--4 {
                    width: 22%;
                    transform: translate(-199%, -22%);
                }
                .homepage__item--5 {
                    width: 19%;
                    transform: translate(-180%, -9%);
                }
            }

            @media screen and (max-width: 768px) {
                .homepage__item--1 {
                    width: 34%;
                    transform: translate(58%, -130%);
                }
                .homepage__item--2 {
                    width: 54%;
                    transform: translate(31%, -80%);
                }
                .homepage__item--3 {
                    display: none;
                }
                .homepage__item--4 {
                    width: 80%;
                    transform: translate(-105%, -48%);
                }
                .homepage__item--5 {
                    width: 86%;
                    transform: translate(-52%, -40%);
                }
            }
        }
        &--2 {
            .homepage__item--1 {
                width: 24%;
                transform: translate(-185%, -100%);
            }
            .homepage__item--2 {
                width: 13%;
                transform: translate(-272%, -63%);
            }
            .homepage__item--3 {
                width: 30%;
                transform: translate(60%, -61%);
            }
            .homepage__item--4 {
                width: 33%;
                transform: translate(27%, -28%);
            }

            @media screen and (max-width: 1024px) {
                .homepage__item--1 {
                    transform: translate(-195%, -100%);
                }
                .homepage__item--2 {
                    transform: translate(-291%, -63%);
                }
                .homepage__item--3 {
                    transform: translate(76%, -51%);
                }
                .homepage__item--4 {
                    transform: translate(39%, -3%);
                }
            }

            @media screen and (max-width: 768px) {
                .homepage__item--1 {
                    width: 54%;
                    transform: translate(-121%, -181%);
                }
                .homepage__item--2 {
                    display: none;
                }
                .homepage__item--3 {
                    width: 120%;
                    transform: translate(-16%, -45%);
                }
                .homepage__item--4 {
                    width: 146%;
                    transform: translate(-46%, -48%);
                }
            }
        }
        &--3 {
            .homepage__item--1 {
                width: 28%;
                transform: translate(-185%, -43%);
            }
            .homepage__item--2 {
                width: 16%;
                transform: translate(-321%, -91%);
            }
            .homepage__item--3 {
                width: 30%;
                transform: translate(-170%, -31%);
            }
            .homepage__item--4 {
                width: 24%;
                transform: translate(110%, -88%);
            }
            .homepage__item--5 {
                width: 11%;
                transform: translate(187%, -52%);
            }

            @media screen and (max-width: 1024px) {
                .homepage__item--1 {
                    width: 28%;
                    transform: translate(-185%, -23%);
                }
                .homepage__item--2 {
                    width: 16%;
                    transform: translate(-321%, -71%);
                }
                .homepage__item--3 {
                    width: 30%;
                    transform: translate(-175%, -15%);
                }
                .homepage__item--4 {
                    width: 24%;
                    transform: translate(125%, -88%);
                }
                .homepage__item--5 {
                    width: 11%;
                    transform: translate(224%, -52%);
                }
            }

            @media screen and (max-width: 768px) {
                .homepage__item--1 {
                    width: 80%;
                    transform: translate(-63%, -49%);
                }
                .homepage__item--2 {
                    width: 30%;
                    transform: translate(-124%, -134%);
                }
                .homepage__item--3 {
                    width: 110%;
                    transform: translate(-57%, -44%);
                }
                .homepage__item--4 {
                    width: 64%;
                    transform: translate(-20%, -118%);
                    z-index: 14;
                }
                .homepage__item--5 {
                    display: none;
                }
            }
        }
        &--4 {
            .homepage__item--1 {
                width: 21%;
                transform: translate(-244%, -106%);
            }
            .homepage__item--2 {
                width: 25%;
                transform: translate(-181%, -105%);
            }
            .homepage__item--3 {
                width: 17%;
                transform: translate(-224%, -43%);
            }
            .homepage__item--4 {
                width: 23%;
                transform: translate(105%, -42%);
            }
            .homepage__item--5 {
                width: 25%;
                transform: translate(78%, -32%);
            }

            @media screen and (max-width: 1024px) {
                .homepage__item--1 {
                    width: 21%;
                    transform: translate(-247%, -106%);
                }
                .homepage__item--2 {
                    width: 25%;
                    transform: translate(-201%, -105%);
                }
                .homepage__item--3 {
                    width: 17%;
                    transform: translate(-244%, -43%);
                }
                .homepage__item--4 {
                    width: 23%;
                    transform: translate(115%, -28%);
                }
                .homepage__item--5 {
                    width: 25%;
                    transform: translate(88%, -9%);
                }
            }

            @media screen and (max-width: 768px) {
                .homepage__item--1 {
                    width: 50%;
                    transform: translate(-114%, -115%);
                }
                .homepage__item--2 {
                    width: 65%;
                    transform: translate(-76%, -112%);
                }
                .homepage__item--3 {
                    display: none;
                }
                .homepage__item--4 {
                    width: 90%;
                    transform: translate(-6%, -65%);
                }
                .homepage__item--5 {
                    width: 100%;
                    transform: translate(-46%, -39%);
                }
            }
        }
        &--5 {
            .homepage__item--1 {
                width: 28%;
                transform: translate(-181%, -96%);
            }
            .homepage__item--2 {
                width: 14%;
                transform: translate(-291%, -55%);
            }
            .homepage__item--3 {
                width: 34%;
                transform: translate(48%, -53%);
            }
            .homepage__item--4 {
                width: 26%;
                transform: translate(75%, -40%);
            }
            @media screen and (max-width: 1024px) {
                .homepage__item--1 {
                    width: 28%;
                    transform: translate(-191%, -96%);
                }
                .homepage__item--2 {
                    width: 14%;
                    transform: translate(-305%, -55%);
                }
                .homepage__item--3 {
                    width: 34%;
                    transform: translate(60%, 7%);
                }
                .homepage__item--4 {
                    width: 26%;
                    transform: translate(90%, -6%);
                }
            }
            @media screen and (max-width: 768px) {
                .homepage__item--1 {
                    width: 100%;
                    transform: translate(-91%, -121%);
                }
                .homepage__item--2 {
                    display: none;
                }
                .homepage__item--3 {
                    width: 95%;
                    transform: translate(-38%, -59%);
                }
                .homepage__item--4 {
                    width: 92%;
                    transform: translate(-50%, -44%);
                }
            }
        }
    }
    .homepage__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity 0.5s ease-out;
        @media screen and (max-width: 768px) {
            position: fixed;
        }

        // z-index: -1001;
        &--1 {
            background: linear-gradient(45deg, #98c134, #a5ca47);
        }
        &--2 {
            background: linear-gradient(45deg, #dc207f, #fd50a9);
        }
        &--3 {
            background: linear-gradient(45deg, #fac827, #fee034);
        }
        &--4 {
            background: linear-gradient(45deg, #19a3ca, #1ccafc);
        }
        &--5 {
            background: linear-gradient(45deg, #d80315, #fb0417);
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 25;
        @media screen and (max-width: 768px) {
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            margin-top: 30px;
            order: -1;
        }
    }

    &__logo {
        width: 300px;
        height: auto;
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 20px;
        color: #ffffff;
        font-size: 1.5em;
        line-height: 1.3em;
        text-align: center;
    }
    &__item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // outline: 1px solid #000000;
        z-index: 15;
    }
    &__itemImg {
        width: 100%;
        height: auto;
    }
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 20;
    background-color: #ffffff;
    // font-size: 10px;
    @media screen and (max-width: 768px) {
        position: relative;
        bottom: auto;
        left: auto;
        z-index: auto;
        height: auto;
        padding: 10px;
    }

    &__left {
        flex: 1;
        text-align: right;
    }
    &__right {
        flex: 0 0 auto;
        width: 45px;
        margin-left: 5px;
    }
    &__logo {
        width: 100%;
        height: auto;
    }
    &__text {
        font-size: 10px;
        margin: 3px 0;
    }
}
