.block {
    width: 100%;
    // max-width: 1600px;
    position: relative;
    margin: 0 auto;
    // display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: -0.6%;

    &__group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        margin: 0 auto;
        // margin-top: -6%;
        // &:first-child {
        //     .block__item {
        //         margin-top: 4.5%;
        //     }
        // }

        // &:nth-child(2n + 2) {
        //     margin-left: 50%;
        //     transform: translate(-50%, 0);
        // }
    }

    &__item {
        position: relative;
        flex: 1;

        // margin-bottom: -6%;
        &::before {
            content: "";
            display: block;
            padding-top: 70%;
        }

        &:hover {
            .block__userPhoto {
                transform: translate(-50%, -155%);
            }
        }
        &--noHover {
            color: #000000;
            &:hover {
                .block__userPhoto {
                    transform: translate(-50%, -145%);
                }
            }
        }
    }
    &__item--user {
        cursor: pointer;
    }

    &__name {
        font-size: 1.5em;
        border-bottom: 1px dashed #ffffff;
        padding-bottom: 10px;
        margin-bottom: 10px;
        line-height: 1.2em;
        @media screen and (max-width: 1366px) {
            font-size: 1.2em;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        @media screen and (max-width: 768px) {
            font-size: 1em;
            padding-bottom: 7px;
            margin-bottom: 5px;
        }
        @media screen and (max-width: 425px) {
            font-size: 0.9em;
            padding-bottom: 7px;
            margin-bottom: 5px;
        }
    }

    &__country {
        font-size: 1em;
        @media screen and (max-width: 1366px) {
            font-size: 0.9em;
        }
        @media screen and (max-width: 768px) {
            font-size: 0.75em;
        }
        @media screen and (max-width: 425px) {
            font-size: 0.75em;
        }
    }
    &__greet {
        font-size: 1.5em;
        line-height: 1.2em;
        @media screen and (max-width: 1366px) {
            font-size: 1.2em;
        }
        @media screen and (max-width: 768px) {
            font-size: 1em;
        }
        @media screen and (max-width: 425px) {
            font-size: 0.9em;
        }
    }
    &__userPhoto {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        transition: all 0.2s ease-out;
        transform: translate(-50%, -145%);
        // transform: translate3d(-50%, -145%, 300px); // for ios bug
        z-index: 100;
    }
    &__laptop {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -180%);
        pointer-events: none;
        // transform: translate3d(-50%, -180%, 300px); // for ios bug
    }
    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // transform-style: preserve-3d; // for ios bug
    }
    &__surface {
        position: absolute;
        top: 0;
        left: 50%;
        box-sizing: border-box;
        // border: 3px solid #000000;
        padding: 7%;
        color: #ffffff;
    }
    &__surface--a {
        width: 71.2%;
        // height: 71%;
        background-color: #cdcdcd;
        transform: translate(-50%, -51%) rotateX(65deg) rotateY(0deg) rotateZ(45deg);
        // transform: translate(-50%, -20%) rotateX(-65deg) rotateY(0deg) rotateZ(45deg);
        // transform: translate(-50%, -51%) rotateX(-65deg) rotateY(0deg) rotateZ(45deg);
        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }
    &__surface--b {
        // display: none;
        // position: absolute;
        // top: 0;
        // left: 50%;
        width: 71.2%;
        height: 78.5%;
        background-color: #9a9a9a;
        // transform: translate(-85%, 57%) rotateX(-25deg) rotateY(-45deg) rotateZ(0deg);
        transform: translate(-85%, 13%) rotateX(-25deg) rotateY(-45deg) rotateZ(0deg);
        // box-sizing: border-box;
        // border: 3px solid #000000;
    }
    &__surface--c {
        // display: none;
        // position: absolute;
        // top: 0;
        // left: 50%;
        width: 71.2%;
        height: 78.5%;
        background-color: #686868;
        // transform: translate(-14%, 57%) rotateX(-25deg) rotateY(45deg) rotateZ(0deg);
        transform: translate(-14.6%, 13%) rotateX(-25deg) rotateY(45deg) rotateZ(0deg);
        // box-sizing: border-box;
        // border: 3px solid #000000;
    }
}
